<div class="row">
    <div class="col-md-4">
        <h1>Welcome to DFS <small>Dorm File Server</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="errorbox">
            {{#if uploaderr}}
                <div class="error">{{uploaderr}}</div>
            {{/if}}

            {{#if errors}}
                {{#each errors}}
                    <div class="error">{{msg}}</div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Upload</h2>
        <div class="form-group">
            <div class="upload_container">
                <label for="upload">Select a File</label>
                <form action="/file_upload" class="form-control" name="upload" method = "POST" enctype="multipart/form-data">
                    <input type="file" name="file" size="50"><br>
                    <input type="submit" value="Upload File">
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<script>
jQuery(document).ready(function($){
    $("tr").dblclick(function(){
        var url = "/download";
        var fname = null;
        var ftype = null;
        $(this).find('td').each(function(){
            if($(this).attr('title')=="name")
            {
                fname = $(this).attr('id');
            }
            else if($(this).attr('title')=="type")
            {
                ftype = $(this).attr('id');
            }
        });
        var http = new XMLHttpRequest();
        http.open("POST",url,true);
        http.setRequestHeader("Content-type","application/json");
        var data = JSON.stringify({"filename":fname,"filetype":ftype})
        http.send(data);
    });
});

</script>

<div class="row">s
    <div class="col-md-12">
        <h2>Files <small>Files that are available on the server</small></h2>
        <div class = "file_container">
            <table class = "table table-hover">
                <tr>
                    <th> # </th>
                    <th> file name </th>
                    <th> file type </th>
                    <th> file size </th>
                </tr>
                {{#each s_files}}
                <tr id={{fname}}>
                    <td  id={{num}}>{{num}}</td>
                    <td  title="name" id={{fname}}>{{fname}}</td>
                    <td  title="type" id={{ftype}} >{{ftype}}</td>
                    <td  title="size"> 0 </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
